<div class="container-fluid">
  <div class="row">
   <div class="col-md-5">
     新註冊律師

     搜尋: <input ng-model="query">


     <table class="table table-striped table-bordered table-hover">
       <thead>
         <tr>
           <th>姓名</th>
           <th>電話</th>
           <th>縣市</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="attorney in newAttornies | filter:query">
           <td>
           {{attorney.name}}
           </td>
           <td>
             {{attorney.cell}}
           </td>
           <td>
             {{attorney.location}}
           </td>
         </tr>
       </tbody>
     </table>

   </div>
   <div class="col-md-5">
     現有律師
     排序
     <select ng-model="orderProperty">
       <option value="name">姓名</option>
       <option value="location">縣市</option>
       <option value="numCases">案件量</option>
       <option value="available">on call</option>
     </select>

     <table class="table table-striped table-bordered table-hover">
       <thead>
         <tr>
           <th>姓名</th>
           <th>電話</th>
           <th>縣市</th>
           <th>案件量</th>
           <th>on call</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="attorney in attornies | orderBy:orderProperty">
           <td>
             {{attorney.name}}
           </td>
           <td>
             {{attorney.cell}}
           </td>
           <td>
             {{attorney.location}}
           </td>
           <td>
             {{attorney.numCases}}
           </td>
           <td>
             {{(attorney.available)?'是':'否'}}
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>
